<h4>Formularios <small> Reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                <small *ngIf="nombreNoValido" class="text-danger">
                    Ingrese 5 letras
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido" >
                <small *ngIf="apellidoNoValido" class="text-danger">
                    Ingrese 5 letras
                </small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido" class="text-danger">
                Ingrese 5 letras
            </small>
        </div>
    </div>

    <div class="form-group row" formGroupName="direcion">
        <label class="col-2 col-form-label">Distrito</label>
        <div class="col">
            <input class="form-control" type="text" placeholder="Correo electrónico" formControlName="distrito">
        </div>
        <label class="col-2 col-form-label">Departamento</label>
        <div class="col">
            <input class="form-control" type="text" placeholder="Correo electrónico" formControlName="departamento">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>



<hr>

<pre>
    Estado del formylario : {{forma.valid}}
    <br>
    Status: {{forma.valid}}
    <br>
    Touch: {{forma.touched}}
</pre>

<pre>
    {{ forma.value | json }}
</pre>